name: CIC-IDS-2017

flow_data_path: "/tmp/pycharm_project_982/processed_data/CIC-IDS-2017-session-srcIP_srcPort_dstIP_dstPort_proto/all_embedded_flow.csv"
session_split_path: "/tmp/pycharm_project_982/processed_data/CIC-IDS-2017-session-srcIP_srcPort_dstIP_dstPort_proto/all_split_session.csv"

# 53端口和dns服务的流量也被过滤掉，因为 DNS 已经通过域名反查特征被充分利用
# 而且这个数据并不做 DNS 流量分类任务，比如检测 DNS 隧道等
exclude_ports: [53]
exclude_services: ["dns"]

# 对于CIC-IDS-2017数据集，类别分布如下：
# ```
# label                       flow count 
# BENIGN                        466497
# DoS Hulk                      162883
# PortScan                      158982
# DDoS                           86466
# DoS Slowhttptest               16045
# DoS GoldenEye                   7607
# FTP-Patator                     3986
# DoS slowloris                   3877
# SSH-Patator                     2979
# Bot                             2208
# Web Attack – Brute Force        1364
# Web Attack – XSS                 629
# Infiltration                      21
# Web Attack – Sql Injection        12
# Heartbleed                         1
# ```

# 明确声明：加载数据的时候，过滤这些类别的流量
# 下面两个攻击类比的样本太少，影响训练效果，直接排除掉
excluded_classes:
  - Infiltration
  - Heartbleed

# 合并某些类别以缓解类别不平衡问题
merged_classes:
  Web Attack:
    - Web Attack – Brute Force
    - Web Attack – XSS
    - Web Attack – Sql Injection


# traffic (root)
#     ├── benign
#     └── malicious
#         ├── DoS (attack family)
#         │   ├── DoS Hulk (attack type)
#         │   ├── DoS GoldenEye
#         │   ├── DoS Slowhttptest
#         │   └── DoS slowloris
#         ├── DDoS
#         │   └── DDoS
#         ├── PortScan
#         │   └── PortScan
#         ├── BruteForce
#         │   ├── FTP-Patator
#         │   └── SSH-Patator
#         ├── Bot
#         │   └── Bot
#         └── Web Attack
#             └── Web Attack

labels:
  is_malicious:
    type: binary
    classes: [benign, malicious]

  attack_family:
    type: multiclass
    classes:
      - DoS
      - DDoS
      - PortScan
      - BruteForce
      - Bot
      - Web Attack

  attack_type:
    type: multiclass
    classes:
      - DoS Hulk
      - DoS GoldenEye
      - DoS Slowhttptest
      - DoS slowloris
      - DDoS
      - PortScan
      - FTP-Patator
      - SSH-Patator
      - Bot
      - Web Attack

    parent: attack_family
    parent_mapping:
      DoS Hulk: DoS
      DoS GoldenEye: DoS
      DoS Slowhttptest: DoS
      DoS slowloris: DoS
      DDoS: DDoS
      PortScan: PortScan
      FTP-Patator: BruteForce
      SSH-Patator: BruteForce
      Bot: Bot
      Web Attack: Web Attack

tasks:
  # ===============================
  # ⭐ 主指标
  # ===============================
  primary: is_malicious    # ⭐ 用于 early stopping / main metric

  outputs:
    is_malicious:
      weight: 1.0     # 主任务权重配置
      type: binary  # 仅供提醒，善意/恶意二分类
      # CIC-IDS-2017数据集类别均衡，无需加权
      # 类别      数量        占比
      # Benign    466,497   51.06% 
      # Malicious 447,080   48.94%
      # Benign/Malicious ≈ 1.04
      loss: bce  # 仅供提醒，使用 Binary Cross-Entropy（默认设置），适用于二分类 / OVR 多标签任务
      class_weights: [1.0, 1.04]    # [neg, pos]
      # 分类器配置
      classifier:
        hidden_dims: [256, 128]      #[512, 256, 128]
        dropout: 0.3
        activation: "gelu"      

    # =====================================
    # 2️⃣ attack_family（OVR，多类别语义）
    # =====================================
    attack_family:
      weight: 0.5                 # ⭐ 不与 is_malicious 抢主导
      type: multiclass  # 仅供提醒，攻击类别的多分类
      strategy: ovr  # One-vs-Rest，多分类通过多个二分类（每个 attack_family 一个 BCE），适合类别不平衡场景
      loss: bce # 仅供提醒，使用 Binary Cross-Entropy（默认设置），适用于二分类 / OVR 多标签任务
      class_weights: 
        # DoS = DoS Hulk + DoS Slowhttptest + DoS GoldenEye + DoS slowloris
        # DoS 频次 = 162,883 + 16,045 + 7,607 + 3,877 = 190,412
        # DoS Rest 频次 = Malicious - DoS
        #                = 447,080 - 190,412
        #                = 256,668
        # rest/pos≈1.35
        DoS:        [1.0, 1.35]    # [neg, pos]

        # DDoS
        # DDoS 频次 = 86,466
        # DDoS Rest 频次 = Malicious - DDoS
        #                 = 447,080 - 86,466
        #                 = 360,614
        # rest/pos≈4.17
        DDoS:       [1.0, 4.17]    # [neg, pos]

        # PortScan
        # PortScan 频次 = 158,982
        # PortScan Rest 频次 = Malicious - PortScan
        #                      = 447,080 - 158,982
        #                      = 288,098
        # rest/pos≈1.81      
        PortScan:   [1.0, 1.81]    # [neg, pos]

        # BruteForce = FTP-Patator + SSH-Patator
        # BruteForce 频次 = 3,986 + 2,979 = 6,965
        # BruteForce Rest 频次 = Malicious - BruteForce
        #                        = 447,080 - 6,965
        #                        = 440,115
        # rest/pos≈63.2
        BruteForce: [1.0, 63.2]  # [neg, pos]

        # Bot
        # Bot 频次 = 2,208
        # Bot Rest 频次 = Malicious - Bot
        #                = 447,080 - 2,208
        #                = 444,872
        # rest/pos≈201.5
        Bot:        [1.0, 201.5]  # [neg, pos]

        # Web Attack = Brute Force + XSS + Sql Injection
        # Web Attack 频次 = 1,364 + 629 + 12 = 2,005
        # Web Attack Rest 频次 = Malicious - Web Attack
        #                       = 447,080 - 2,005
        #                       = 445,075
        # rest/pos≈222.0
        Web Attack: [1.0, 222.0]  # [neg, pos]

      classifier:
        hidden_dims: [256]
        dropout: 0.3
        activation: gelu

    # ==================================================
    # 3️⃣ attack_type（⚠️ 强烈建议：分析用 / 可选）
    # ==================================================
    attack_type: # 尚未实现，仅提醒预期功能
      weight: 0.1 # ⭐ 明确降权    
      type: multiclass
      strategy: softmax
      loss: ce
      class_weights: auto
      classifier:
        hidden_dims: [256]
        dropout: 0.3
        activation: gelu